{{ define "main" }}
<main class="main">
  <header class="page-header">
    <h1>🔍 搜索</h1>
  </header>

  {{ partial "search.html" . }}

  <h2>系列</h2>
  {{ range $name, $taxonomy := .Site.Taxonomies.series }}
    <a class="button" href="{{ $taxonomy.Page.Permalink }}">{{ $name }} ({{ len $taxonomy }})</a>
  {{ end }}

  <h2>分类</h2>
  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
    <a class="button" href="{{ $taxonomy.Page.Permalink }}">{{ $name }} ({{ len $taxonomy }})</a>
  {{ end }}

  <h2>标签</h2>
  {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    <a class="button" href="{{ $taxonomy.Page.Permalink }}">{{ $name }} ({{ len $taxonomy }})</a>
  {{ end }}
</main>
{{ end }}
